# Introduction

NoSQL databases are a popular alternative to traditional relational databases for handling big data, high scalability, and high availability needs. The course will teach you how to work with NoSQL databases and how to choose the right NoSQL database for your specific needs. 

## Relational databases and tabular data

Before jumping straight on NoSQL DBs let's take a step back with relational databases and tabular data. The most common format you probably encountered in programming is Comma Separated Values (CSV). CSV is a plain text file format used to store tabular data, with each row of the table represented as a separate line in the file and each column separated by a comma or other delimiter.

In [2]:
import pandas as pd

df = pd.read_csv("data/Chap1/iris.csv")
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [4]:
print(df["sepal.length"])
print(df.at[0,"sepal.length"])
print(df.loc[0])
df[(df["sepal.length"] > 3) & (df["petal.length"] > 1.2)]

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal.length, Length: 150, dtype: float64
5.1
sepal.length       5.1
sepal.width        3.5
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 0, dtype: object

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[146 rows x 5 columns]

In [10]:
# Iterate over all db

for row in df.iterrows():
    print(row)

(0, sepal.length       5.1
sepal.width        3.5
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 0, dtype: object)
(1, sepal.length       4.9
sepal.width        3.0
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 1, dtype: object)
(2, sepal.length       4.7
sepal.width        3.2
petal.length       1.3
petal.width        0.2
variety         Setosa
Name: 2, dtype: object)
(3, sepal.length       4.6
sepal.width        3.1
petal.length       1.5
petal.width        0.2
variety         Setosa
Name: 3, dtype: object)
(4, sepal.length       5.0
sepal.width        3.6
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 4, dtype: object)
(5, sepal.length       5.4
sepal.width        3.9
petal.length       1.7
petal.width        0.4
variety         Setosa
Name: 5, dtype: object)
(6, sepal.length       4.6
sepal.width        3.4
petal.length       1.4
petal.width        0.3
variety         Setosa
Name: 6, dtype: object)
(7, sepal.length       5.0
sepal.width        3.4
petal.length       1.5
petal.width        0.2
variety         Setosa
Name: 7, dtype: object)
(8, sepal.length       4.4
sepal.width        2.9
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 8, dtype: object)
(9, sepal.length       4.9
sepal.width        3.1
petal.length       1.5
petal.width        0.1
variety         Setosa
Name: 9, dtype: object)
(10, sepal.length       5.4
sepal.width        3.7
petal.length       1.5
petal.width        0.2
variety         Setosa
Name: 10, dtype: object)
(11, sepal.length       4.8
sepal.width        3.4
petal.length       1.6
petal.width        0.2
variety         Setosa
Name: 11, dtype: object)
(12, sepal.length       4.8
sepal.width        3.0
petal.length       1.4
petal.width        0.1
variety         Setosa
Name: 12, dtype: object)
(13, sepal.length       4.3
sepal.width        3.0
petal.length       1.1
petal.width        0.1
variety         Setosa
Name: 13, dtype: object)
(14, sepal.length       5.8
sepal.width        4.0
petal.length       1.2
petal.width        0.2
variety         Setosa
Name: 14, dtype: object)
(15, sepal.length       5.7
sepal.width        4.4
petal.length       1.5
petal.width        0.4
variety         Setosa
Name: 15, dtype: object)
(16, sepal.length       5.4
sepal.width        3.9
petal.length       1.3
petal.width        0.4
variety         Setosa
Name: 16, dtype: object)
(17, sepal.length       5.1
sepal.width        3.5
petal.length       1.4
petal.width        0.3
variety         Setosa
Name: 17, dtype: object)
(18, sepal.length       5.7
sepal.width        3.8
petal.length       1.7
petal.width        0.3
variety         Setosa
Name: 18, dtype: object)
(19, sepal.length       5.1
sepal.width        3.8
petal.length       1.5
petal.width        0.3
variety         Setosa
Name: 19, dtype: object)
(20, sepal.length       5.4
sepal.width        3.4
petal.length       1.7
petal.width        0.2
variety         Setosa
Name: 20, dtype: object)
(21, sepal.length       5.1
sepal.width        3.7
petal.length       1.5
petal.width        0.4
variety         Setosa
Name: 21, dtype: object)
(22, sepal.length       4.6
sepal.width        3.6
petal.length       1.0
petal.width        0.2
variety         Setosa
Name: 22, dtype: object)
(23, sepal.length       5.1
sepal.width        3.3
petal.length       1.7
petal.width        0.5
variety         Setosa
Name: 23, dtype: object)
(24, sepal.length       4.8
sepal.width        3.4
petal.length       1.9
petal.width        0.2
variety         Setosa
Name: 24, dtype: object)
(25, sepal.length       5.0
sepal.width        3.0
petal.length       1.6
petal.width        0.2
variety         Setosa
Name: 25, dtype: object)
(26, sepal.length       5.0
sepal.width        3.4
petal.length       1.6
petal.width        0.4
variety         Setosa
Name: 26, dtype: object)
(27, sepal.length       5.2
sepal.width        3.5
petal.length       1.5
petal.width        0.2
variety         Setosa
Name: 27, dtype: object)
(28, sepal.length       5.2
sepal.width        3.4
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 28, dtype: object)
(29, sepal.length       4.7
sepal.width        3.2
petal.length       1.6
petal.width        0.2
variety         Setosa
Name: 29, dtype: object)
(30, sepal.length       4.8
sepal.width        3.1
petal.length       1.6
petal.width        0.2
variety         Setosa
Name: 30, dtype: object)
(31, sepal.length       5.4
sepal.width        3.4
petal.length       1.5
petal.width        0.4
variety         Setosa
Name: 31, dtype: object)
(32, sepal.length       5.2
sepal.width        4.1
petal.length       1.5
petal.width        0.1
variety         Setosa
Name: 32, dtype: object)
(33, sepal.length       5.5
sepal.width        4.2
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 33, dtype: object)
(34, sepal.length       4.9
sepal.width        3.1
petal.length       1.5
petal.width        0.2
variety         Setosa
Name: 34, dtype: object)
(35, sepal.length       5.0
sepal.width        3.2
petal.length       1.2
petal.width        0.2
variety         Setosa
Name: 35, dtype: object)
(36, sepal.length       5.5
sepal.width        3.5
petal.length       1.3
petal.width        0.2
variety         Setosa
Name: 36, dtype: object)
(37, sepal.length       4.9
sepal.width        3.6
petal.length       1.4
petal.width        0.1
variety         Setosa
Name: 37, dtype: object)
(38, sepal.length       4.4
sepal.width        3.0
petal.length       1.3
petal.width        0.2
variety         Setosa
Name: 38, dtype: object)
(39, sepal.length       5.1
sepal.width        3.4
petal.length       1.5
petal.width        0.2
variety         Setosa
Name: 39, dtype: object)
(40, sepal.length       5.0
sepal.width        3.5
petal.length       1.3
petal.width        0.3
variety         Setosa
Name: 40, dtype: object)
(41, sepal.length       4.5
sepal.width        2.3
petal.length       1.3
petal.width        0.3
variety         Setosa
Name: 41, dtype: object)
(42, sepal.length       4.4
sepal.width        3.2
petal.length       1.3
petal.width        0.2
variety         Setosa
Name: 42, dtype: object)
(43, sepal.length       5.0
sepal.width        3.5
petal.length       1.6
petal.width        0.6
variety         Setosa
Name: 43, dtype: object)
(44, sepal.length       5.1
sepal.width        3.8
petal.length       1.9
petal.width        0.4
variety         Setosa
Name: 44, dtype: object)
(45, sepal.length       4.8
sepal.width        3.0
petal.length       1.4
petal.width        0.3
variety         Setosa
Name: 45, dtype: object)
(46, sepal.length       5.1
sepal.width        3.8
petal.length       1.6
petal.width        0.2
variety         Setosa
Name: 46, dtype: object)
(47, sepal.length       4.6
sepal.width        3.2
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 47, dtype: object)
(48, sepal.length       5.3
sepal.width        3.7
petal.length       1.5
petal.width        0.2
variety         Setosa
Name: 48, dtype: object)
(49, sepal.length       5.0
sepal.width        3.3
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 49, dtype: object)
(50, sepal.length           7.0
sepal.width            3.2
petal.length           4.7
petal.width            1.4
variety         Versicolor
Name: 50, dtype: object)
(51, sepal.length           6.4
sepal.width            3.2
petal.length           4.5
petal.width            1.5
variety         Versicolor
Name: 51, dtype: object)
(52, sepal.length           6.9
sepal.width            3.1
petal.length           4.9
petal.width            1.5
variety         Versicolor
Name: 52, dtype: object)
(53, sepal.length           5.5
sepal.width            2.3
petal.length           4.0
petal.width            1.3
variety         Versicolor
Name: 53, dtype: object)
(54, sepal.length           6.5
sepal.width            2.8
petal.length           4.6
petal.width            1.5
variety         Versicolor
Name: 54, dtype: object)
(55, sepal.length           5.7
sepal.width            2.8
petal.length           4.5
petal.width            1.3
variety         Versicolor
Name: 55, dtype: object)
(56, sepal.length           6.3
sepal.width            3.3
petal.length           4.7
petal.width            1.6
variety         Versicolor
Name: 56, dtype: object)
(57, sepal.length           4.9
sepal.width            2.4
petal.length           3.3
petal.width            1.0
variety         Versicolor
Name: 57, dtype: object)
(58, sepal.length           6.6
sepal.width            2.9
petal.length           4.6
petal.width            1.3
variety         Versicolor
Name: 58, dtype: object)
(59, sepal.length           5.2
sepal.width            2.7
petal.length           3.9
petal.width            1.4
variety         Versicolor
Name: 59, dtype: object)
(60, sepal.length           5.0
sepal.width            2.0
petal.length           3.5
petal.width            1.0
variety         Versicolor
Name: 60, dtype: object)
(61, sepal.length           5.9
sepal.width            3.0
petal.length           4.2
petal.width            1.5
variety         Versicolor
Name: 61, dtype: object)
(62, sepal.length           6.0
sepal.width            2.2
petal.length           4.0
petal.width            1.0
variety         Versicolor
Name: 62, dtype: object)
(63, sepal.length           6.1
sepal.width            2.9
petal.length           4.7
petal.width            1.4
variety         Versicolor
Name: 63, dtype: object)
(64, sepal.length           5.6
sepal.width            2.9
petal.length           3.6
petal.width            1.3
variety         Versicolor
Name: 64, dtype: object)
(65, sepal.length           6.7
sepal.width            3.1
petal.length           4.4
petal.width            1.4
variety         Versicolor
Name: 65, dtype: object)
(66, sepal.length           5.6
sepal.width            3.0
petal.length           4.5
petal.width            1.5
variety         Versicolor
Name: 66, dtype: object)
(67, sepal.length           5.8
sepal.width            2.7
petal.length           4.1
petal.width            1.0
variety         Versicolor
Name: 67, dtype: object)
(68, sepal.length           6.2
sepal.width            2.2
petal.length           4.5
petal.width            1.5
variety         Versicolor
Name: 68, dtype: object)
(69, sepal.length           5.6
sepal.width            2.5
petal.length           3.9
petal.width            1.1
variety         Versicolor
Name: 69, dtype: object)
(70, sepal.length           5.9
sepal.width            3.2
petal.length           4.8
petal.width            1.8
variety         Versicolor
Name: 70, dtype: object)
(71, sepal.length           6.1
sepal.width            2.8
petal.length           4.0
petal.width            1.3
variety         Versicolor
Name: 71, dtype: object)
(72, sepal.length           6.3
sepal.width            2.5
petal.length           4.9
petal.width            1.5
variety         Versicolor
Name: 72, dtype: object)
(73, sepal.length           6.1
sepal.width            2.8
petal.length           4.7
petal.width            1.2
variety         Versicolor
Name: 73, dtype: object)
(74, sepal.length           6.4
sepal.width            2.9
petal.length           4.3
petal.width            1.3
variety         Versicolor
Name: 74, dtype: object)
(75, sepal.length           6.6
sepal.width            3.0
petal.length           4.4
petal.width            1.4
variety         Versicolor
Name: 75, dtype: object)
(76, sepal.length           6.8
sepal.width            2.8
petal.length           4.8
petal.width            1.4
variety         Versicolor
Name: 76, dtype: object)
(77, sepal.length           6.7
sepal.width            3.0
petal.length           5.0
petal.width            1.7
variety         Versicolor
Name: 77, dtype: object)
(78, sepal.length           6.0
sepal.width            2.9
petal.length           4.5
petal.width            1.5
variety         Versicolor
Name: 78, dtype: object)
(79, sepal.length           5.7
sepal.width            2.6
petal.length           3.5
petal.width            1.0
variety         Versicolor
Name: 79, dtype: object)
(80, sepal.length           5.5
sepal.width            2.4
petal.length           3.8
petal.width            1.1
variety         Versicolor
Name: 80, dtype: object)
(81, sepal.length           5.5
sepal.width            2.4
petal.length           3.7
petal.width            1.0
variety         Versicolor
Name: 81, dtype: object)
(82, sepal.length           5.8
sepal.width            2.7
petal.length           3.9
petal.width            1.2
variety         Versicolor
Name: 82, dtype: object)
(83, sepal.length           6.0
sepal.width            2.7
petal.length           5.1
petal.width            1.6
variety         Versicolor
Name: 83, dtype: object)
(84, sepal.length           5.4
sepal.width            3.0
petal.length           4.5
petal.width            1.5
variety         Versicolor
Name: 84, dtype: object)
(85, sepal.length           6.0
sepal.width            3.4
petal.length           4.5
petal.width            1.6
variety         Versicolor
Name: 85, dtype: object)
(86, sepal.length           6.7
sepal.width            3.1
petal.length           4.7
petal.width            1.5
variety         Versicolor
Name: 86, dtype: object)
(87, sepal.length           6.3
sepal.width            2.3
petal.length           4.4
petal.width            1.3
variety         Versicolor
Name: 87, dtype: object)
(88, sepal.length           5.6
sepal.width            3.0
petal.length           4.1
petal.width            1.3
variety         Versicolor
Name: 88, dtype: object)
(89, sepal.length           5.5
sepal.width            2.5
petal.length           4.0
petal.width            1.3
variety         Versicolor
Name: 89, dtype: object)
(90, sepal.length           5.5
sepal.width            2.6
petal.length           4.4
petal.width            1.2
variety         Versicolor
Name: 90, dtype: object)
(91, sepal.length           6.1
sepal.width            3.0
petal.length           4.6
petal.width            1.4
variety         Versicolor
Name: 91, dtype: object)
(92, sepal.length           5.8
sepal.width            2.6
petal.length           4.0
petal.width            1.2
variety         Versicolor
Name: 92, dtype: object)
(93, sepal.length           5.0
sepal.width            2.3
petal.length           3.3
petal.width            1.0
variety         Versicolor
Name: 93, dtype: object)
(94, sepal.length           5.6
sepal.width            2.7
petal.length           4.2
petal.width            1.3
variety         Versicolor
Name: 94, dtype: object)
(95, sepal.length           5.7
sepal.width            3.0
petal.length           4.2
petal.width            1.2
variety         Versicolor
Name: 95, dtype: object)
(96, sepal.length           5.7
sepal.width            2.9
petal.length           4.2
petal.width            1.3
variety         Versicolor
Name: 96, dtype: object)
(97, sepal.length           6.2
sepal.width            2.9
petal.length           4.3
petal.width            1.3
variety         Versicolor
Name: 97, dtype: object)
(98, sepal.length           5.1
sepal.width            2.5
petal.length           3.0
petal.width            1.1
variety         Versicolor
Name: 98, dtype: object)
(99, sepal.length           5.7
sepal.width            2.8
petal.length           4.1
petal.width            1.3
variety         Versicolor
Name: 99, dtype: object)
(100, sepal.length          6.3
sepal.width           3.3
petal.length          6.0
petal.width           2.5
variety         Virginica
Name: 100, dtype: object)
(101, sepal.length          5.8
sepal.width           2.7
petal.length          5.1
petal.width           1.9
variety         Virginica
Name: 101, dtype: object)
(102, sepal.length          7.1
sepal.width           3.0
petal.length          5.9
petal.width           2.1
variety         Virginica
Name: 102, dtype: object)
(103, sepal.length          6.3
sepal.width           2.9
petal.length          5.6
petal.width           1.8
variety         Virginica
Name: 103, dtype: object)
(104, sepal.length          6.5
sepal.width           3.0
petal.length          5.8
petal.width           2.2
variety         Virginica
Name: 104, dtype: object)
(105, sepal.length          7.6
sepal.width           3.0
petal.length          6.6
petal.width           2.1
variety         Virginica
Name: 105, dtype: object)
(106, sepal.length          4.9
sepal.width           2.5
petal.length          4.5
petal.width           1.7
variety         Virginica
Name: 106, dtype: object)
(107, sepal.length          7.3
sepal.width           2.9
petal.length          6.3
petal.width           1.8
variety         Virginica
Name: 107, dtype: object)
(108, sepal.length          6.7
sepal.width           2.5
petal.length          5.8
petal.width           1.8
variety         Virginica
Name: 108, dtype: object)
(109, sepal.length          7.2
sepal.width           3.6
petal.length          6.1
petal.width           2.5
variety         Virginica
Name: 109, dtype: object)
(110, sepal.length          6.5
sepal.width           3.2
petal.length          5.1
petal.width           2.0
variety         Virginica
Name: 110, dtype: object)
(111, sepal.length          6.4
sepal.width           2.7
petal.length          5.3
petal.width           1.9
variety         Virginica
Name: 111, dtype: object)
(112, sepal.length          6.8
sepal.width           3.0
petal.length          5.5
petal.width           2.1
variety         Virginica
Name: 112, dtype: object)
(113, sepal.length          5.7
sepal.width           2.5
petal.length          5.0
petal.width           2.0
variety         Virginica
Name: 113, dtype: object)
(114, sepal.length          5.8
sepal.width           2.8
petal.length          5.1
petal.width           2.4
variety         Virginica
Name: 114, dtype: object)
(115, sepal.length          6.4
sepal.width           3.2
petal.length          5.3
petal.width           2.3
variety         Virginica
Name: 115, dtype: object)
(116, sepal.length          6.5
sepal.width           3.0
petal.length          5.5
petal.width           1.8
variety         Virginica
Name: 116, dtype: object)
(117, sepal.length          7.7
sepal.width           3.8
petal.length          6.7
petal.width           2.2
variety         Virginica
Name: 117, dtype: object)
(118, sepal.length          7.7
sepal.width           2.6
petal.length          6.9
petal.width           2.3
variety         Virginica
Name: 118, dtype: object)
(119, sepal.length          6.0
sepal.width           2.2
petal.length          5.0
petal.width           1.5
variety         Virginica
Name: 119, dtype: object)
(120, sepal.length          6.9
sepal.width           3.2
petal.length          5.7
petal.width           2.3
variety         Virginica
Name: 120, dtype: object)
(121, sepal.length          5.6
sepal.width           2.8
petal.length          4.9
petal.width           2.0
variety         Virginica
Name: 121, dtype: object)
(122, sepal.length          7.7
sepal.width           2.8
petal.length          6.7
petal.width           2.0
variety         Virginica
Name: 122, dtype: object)
(123, sepal.length          6.3
sepal.width           2.7
petal.length          4.9
petal.width           1.8
variety         Virginica
Name: 123, dtype: object)
(124, sepal.length          6.7
sepal.width           3.3
petal.length          5.7
petal.width           2.1
variety         Virginica
Name: 124, dtype: object)
(125, sepal.length          7.2
sepal.width           3.2
petal.length          6.0
petal.width           1.8
variety         Virginica
Name: 125, dtype: object)
(126, sepal.length          6.2
sepal.width           2.8
petal.length          4.8
petal.width           1.8
variety         Virginica
Name: 126, dtype: object)
(127, sepal.length          6.1
sepal.width           3.0
petal.length          4.9
petal.width           1.8
variety         Virginica

Yet tabular data are impractical for huge amount of data 

Relational databases are a type of database management system that organize data into one or more tables or relations, with each table consisting of a set of rows and columns. Each row represents a unique record or entity, while each column represents a particular attribute or characteristic of that entity.

In a relational database, the tables are related to each other through common fields or keys. For example, if you have a customer table and an orders table, you could link them through a customer ID field, which would allow you to associate specific orders with specific customers.

Relational databases use a structured query language (SQL) to retrieve and manipulate data. SQL allows users to create, update, delete, and retrieve data from one or more tables based on specific criteria or conditions.

Relational databases offer several advantages, including:

- Data consistency: Data is consistent and standardized across an organization.

- Scalability: Relational databases can handle large amounts of data and can easily scale as data volumes increase (Data not in your RAM).

- Flexibility: Changes to a database structure can be made relatively easily and without disrupting existing applications or data.

- Security: Relational databases offer built-in security features, such as user authentication and access control, to protect sensitive data.

I'll do a short introduction on sqlite3. I think it's a good entry point to SQL since its local and you can still monitor your data visually using [DB Browser](https://sqlitebrowser.org/).

"SQLite is a C-language library that implements a small, fast, self-contained, high-reliability, full-featured, SQL database engine." [(Official website)](https://www.sqlite.org/index.html). Sqlite3 is a library that provides an api that allows python 3 to interact with your sqlite DB. Incompatibility with python 2 so beware.

You can use [DB browser](https://sqlitebrowser.org/) to check if it worked without going through Python. Sqlite3+DB browser is an easy entry point to SQL (still able to see your data, no server involved). Here is an example of basic operations of SQLite on the iris database. Starting with DB already existing:

In [9]:
import sqlite3

#  Establishes a connection to an SQLite database file. The only argument is the path (If the file does not exist and empty file is created)
conn = sqlite3.connect('data/Chap1/iris.db')

# A cursor in SQL databases is a database object that allows you to retrieve and manipulate a set of data rows returned by a SQL statement, one row at a time.
c = conn.cursor()

# READ query (SQL language), Look at all the iris with sepal length > 5.
c.execute("""SELECT * FROM iris WHERE "petal.length" > 5""")

#%% Two methods to go through your result

# All in RAM
docs = c.fetchall()
print(docs)

# Iteration

c.execute("""SELECT * FROM iris WHERE "petal.length" > 5""")

for i in c:
    print(i)
    break

[(5.546002960504148e+18, 2.7, 5.1, 1.6, 'Versicolor'), (6.3, 3.3, 6.0, 2.5, 'Virginica'), (5.8, 2.7, 5.1, 1.9, 'Virginica'), (7.1, 3, 5.9, 2.1, 'Virginica'), (6.3, 2.9, 5.6, 1.8, 'Virginica'), (6.5, 3, 5.8, 2.2, 'Virginica'), (7.6, 3, 6.6, 2.1, 'Virginica'), (7.3, 2.9, 6.3, 1.8, 'Virginica'), (6.7, 2.5, 5.8, 1.8, 'Virginica'), (7.2, 3.6, 6.1, 2.5, 'Virginica'), (6.5, 3.2, 5.1, 2.0, 'Virginica'), (6.4, 2.7, 5.3, 1.9, 'Virginica'), (6.8, 3, 5.5, 2.1, 'Virginica'), (5.8, 2.8, 5.1, 2.4, 'Virginica'), (6.4, 3.2, 5.3, 2.3, 'Virginica'), (6.5, 3, 5.5, 1.8, 'Virginica'), (7.7, 3.8, 6.7, 2.2, 'Virginica'), (7.7, 2.6, 6.9, 2.3, 'Virginica'), (6.9, 3.2, 5.7, 2.3, 'Virginica'), (7.7, 2.8, 6.7, 2.0, 'Virginica'), (6.7, 3.3, 5.7, 2.1, 'Virginica'), (7.2, 3.2, 6.0, 1.8, 'Virginica'), (6.4, 2.8, 5.6, 2.1, 'Virginica'), (7.2, 3, 5.8, 1.6, 'Virginica'), (7.4, 2.8, 6.1, 1.9, 'Virginica'), (7.9, 3.8, 6.4, 2.0, 'Virginica'), (6.4, 2.8, 5.6, 2.2, 'Virginica'), (6.3, 2.8, 5.1, 1.5, 'Virginica'), (6.1, 2.6, 5.6, 1.4, 'Virginica'), (7.7, 3, 6.1, 2.3, 'Virginica'), (6.3, 3.4, 5.6, 2.4, 'Virginica'), (6.4, 3.1, 5.5, 1.8, 'Virginica'), (6.9, 3.1, 5.4, 2.1, 'Virginica'), (6.7, 3.1, 5.6, 2.4, 'Virginica'), (6.9, 3.1, 5.1, 2.3, 'Virginica'), (5.8, 2.7, 5.1, 1.9, 'Virginica'), (6.8, 3.2, 5.9, 2.3, 'Virginica'), (6.7, 3.3, 5.7, 2.5, 'Virginica'), (6.7, 3, 5.2, 2.3, 'Virginica'), (6.5, 3, 5.2, 2.0, 'Virginica'), (6.2, 3.4, 5.4, 2.3, 'Virginica'), (5.9, 3, 5.1, 1.8, 'Virginica')]
(5.546002960504148e+18, 2.7, 5.1, 1.6, 'Versicolor')

In [7]:
# UPDATE

c.execute("""UPDATE iris
             SET "sepal.length" = 3
             WHERE variety == "Versicolor" """)

conn.commit()

In [8]:
c.execute("""UPDATE iris
             SET "sepal.length" = random()+1
             WHERE variety == "Versicolor" """)

conn.commit()

In [ ]:
# DELETE

c.execute("""DELETE FROM iris WHERE "sepal.length" > 5""")

#conn.commit() warning it will alter your db

Now if the Database does not exist we can create it the following way

In [25]:
import tqdm
import sqlite3
import pandas as pd

df = pd.read_csv('data/Chap1/iris.csv')

conn = sqlite3.connect('data/Chap1/iris_manual.db')
c = conn.cursor()

# Simple function to create table

def create_table_iris():
    try:
        c.execute("""CREATE TABLE IF NOT EXISTS iris(id INT PRIMARY KEY, "sepal.length" FLOAT, "sepal.width" FLOAT,
                     "petal.length" FLOAT, "petal.width" FLOAT, variety TEXT)""")
        # When an index is created on a column, the database system creates a data structure that contains a sorted copy of the column's values. 
        # This allows the database system to perform data retrieval operations more quickly than if it had to scan the entire table every time a query was executed.
        c.execute("CREATE INDEX fast_id ON id(id)")
        conn.commit()
    except Exception as e:
        print(str(e))
        
# Sqlite3 excepts a table named "main" and therefore gives you a warning (can be ignored)
create_table_iris()

no such table: main.id

In [26]:
# One by one

query = """INSERT INTO iris(id, "sepal.length", "sepal.width", "petal.length", "petal.width", variety) VALUES (?,?,?,?,?,?)"""

for row in tqdm.tqdm(df.iterrows()):
    id_ = row[0]
    sepal_length = row[1]["sepal.length"]
    sepal_width = row[1]["sepal.width"]
    petal_length = row[1]["petal.length"]
    petal_width = row[1]["petal.width"]
    variety = row[1]["variety"]
    values = (id_,sepal_length,sepal_width,petal_length, petal_width,variety)
    c.execute(query, values)
    conn.commit()

150it [00:00, 255.73it/s]

In [29]:
conn = sqlite3.connect('data/Chap1/benchmark.db')
c = conn.cursor()

# Simple function to create table

def create_table_benchmark():
    try:
        c.execute("""CREATE TABLE IF NOT EXISTS test(id INT PRIMARY KEY)""")
        # When an index is created on a column, the database system creates a data structure that contains a sorted copy of the column's values. 
        # This allows the database system to perform data retrieval operations more quickly than if it had to scan the entire table every time a query was executed.
        c.execute("CREATE INDEX fast_id ON id(id)")
        conn.commit()
    except Exception as e:
        print(str(e))
        
# Sqlite3 excepts a table named "main" and therefore gives you a warning (can be ignored)
create_table_benchmark()


query = """INSERT INTO test(id) VALUES (?)"""

for i in tqdm.tqdm(range(0,1000000,1)):
    values = (i,)
    c.execute(query, values)
    conn.commit()

no such table: main.id

  6%|â–Œ         | 57218/1000000 [04:18<1:11:01, 221.26it/s]

KeyboardInterrupt:

In [33]:
conn = sqlite3.connect('data/Chap1/benchmark.db')
c = conn.cursor()

def create_table_benchmark():
    try:
        c.execute("""CREATE TABLE IF NOT EXISTS test2(id INT PRIMARY KEY)""")
        # When an index is created on a column, the database system creates a data structure that contains a sorted copy of the column's values. 
        # This allows the database system to perform data retrieval operations more quickly than if it had to scan the entire table every time a query was executed.
        c.execute("CREATE INDEX fast_id ON id(id)")
        conn.commit()
    except Exception as e:
        print(str(e))
        
# Sqlite3 excepts a table named "main" and therefore gives you a warning (can be ignored)
create_table_benchmark()

query = """INSERT INTO test2(id) VALUES (?)"""


list_of_insertion = []
for i in tqdm.tqdm(range(0,1000000,1)):
    values = (i,)
    list_of_insertion.append(values)
    if len(list_of_insertion) == 10000:
        c.executemany(query, list_of_insertion)
        conn.commit()
        list_of_insertion = []

no such table: main.id

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1000000/1000000 [00:01<00:00, 523017.92it/s]

Here are some desc stats you can do using SQL language

In [41]:
# Aggreagte function

import sqlite3

conn = sqlite3.connect('data/Chap1/iris_manual.db')
c = conn.cursor()

c.execute("""SELECT "petal.length", variety, AVG("petal.width"), SUM("petal.width"), COUNT("petal.width"), MIN("petal.width"), MAX("petal.width")
             FROM iris 
             GROUP BY variety
             """)

docs = c.fetchall()
print(docs)

[(1.7, 'Setosa', 0.3333333333333333, 2.0, 6, 0.2, 0.5), (4.8, 'Versicolor', 1.3259999999999998, 66.3, 50, 1.0, 1.8), (6.0, 'Virginica', 2.026, 101.29999999999998, 50, 1.4, 2.5)]

Data won't be this clean in your day-to-day job. Let us take an example of a research article each observation can have different length of authors/references/...

In [43]:
# Init variables
authors = ["Auteur1","Auteur2","Auteur3"]
title = "This is paper 1"
affiliations = ["University of Mannheim","University of Strasbourg"]
ref = ["This is ref 1","This is ref 2","This is ref 3"]

In [44]:
# Collapse list

authors = "\n".join(authors)
aff = "\n".join(affiliations)
ref = "\n".join(ref)
print(authors)

Auteur1
Auteur2
Auteur3

In [45]:
# Create the DB
import sqlite3

# connect to your db, if it does not exists it creates it.
conn = sqlite3.connect('data/tuts.db')

c = conn.cursor()

# Simple function to create table

def create_table_test():
    try:
        c.execute("""CREATE TABLE IF NOT EXISTS test(id INT PRIMARY KEY, authors TEXT,
                    title TEXT,affiliations TEXT, ref TEXT)""")
        # Index to do query faster
        c.execute("CREATE INDEX fast_id ON id(id)")
        conn.commit()
    except Exception as e:
        print(str(e))
        
# Sqlite3 excepts a table named "main" and therefore gives you a warning (can be ignored)
create_table_test()

no such table: main.id

In [46]:
# SQL can be finicky when trying to insert using python, big difference between " and '
query = """INSERT INTO test(id, authors,title,affiliations, ref) VALUES (?,?,?,?,?)"""
values = (3,authors,title,aff, ref)
c.execute(query, values)
conn.commit()

[Here]( https://www.sqltutorial.org/sql-cheat-sheet/) are some cheat sheet for SQL querys.

A csv (or RDBMS) works but is it really efficient ? Imagine a scenario with even more nested data (each author has an aff, an aff can have a list a members, each members has an age, ...).You could create different tables but each time you will need to join information of this different tables. That's where NoSQL comes in to save the day.


Modifying the architecture in SQL is clunky. A lot of time is invested designing the data model because changes will impact all or most of the layers in the application.

NoSQL is:
- Meant for unstructured data.
- Designed to manage lots of traffic and data.
- Has no predefined schema.
- Easy to query.

Because of the context (Big Data), Unstructured data has become more and more present hence the interest in NoSQL. Indeed JSON (more on that in chapter I) data is the commonly used data format in Javascript and Javascript is present everywhere in almost every web page (dynamic vs static).

The biggest advantage of NoSQL is that you get to skip the "understand your data and usage patterns" steps. But is it really an advantage ?

NoSQL cons:
- Don't really know what you are working with
- Multiplicity of different DB (Meaning different "language" for some)
- Flexible but can become messy so watch out

IMO: Use SQL when you have a Static data flow or the change in the data is not regular and if the data fits in a row-column format. It's always better to have a good structure even if it asks to put a lot of work before hand. If you need flexibility or the data is really nested using Nosql DBs reduces the need for joins and lookups, making your queries faster.

<p style="text-align: center;"><b>Proportion of DBs usage</b></p>

![test](./img/DB_piechart.png "Title")

Nothing new but we are surrounded by a lot of data, information flows faster than ever (i.e: big data). But what exactly is the type of data we get in huge quantity ? Text, Networks, Sound, Image, ...

## What is NoSQL ? SQL vs NoSQL

NoSQL stands for "Not only SQL", every database that does not use SQL (Structured Query Language) is called NoSQL even though every NoSQL DB does not work the same way. The difference between SQL and NoSQL databases is really just a comparison of relational vs. non-relational databases. Deciding when to use SQL vs. NoSQL depends on the kind of information youâ€™re storing and the best way to store it. Both types store data, they just store data differently.
Imagine you have a list of variables for research papers. authors, affiliations, title, references. How do you store it in a csv ?

The popularity of DBs using SQL is still high (3/4). In your opinion why ?

<p style="text-align: center;"><b>Non exhaustive list of companies using NoSQL</b></p>

<table><tr>
<td> <img src="./img/Google.png" alt="Drawing" style="width: 150px;"/> </td>
<td> <img src="./img/Amazon logo.png" alt="Drawing" style="width: 150px;"/> </td>
<td> <img src="./img/Facebook.png" alt="Drawing" style="width: 150px;"/> </td>
<td> <img src="./img/Mozilla.png" alt="Drawing" style="width: 150px;"/> </td>
<td> <img src="./img/netflix.png" alt="Drawing" style="width: 150px;"/> </td>
<td> <img src="./img/Twitter.png" alt="Drawing" style="width: 150px;"/> </td>
</tr></table>

Think before using one or the other.

Before jumping into NoSQL directly we will take a look at what a unstructured data format looks like.

# Exercise

**TODO 1**: Read all the data from bc.csv, how many rows is there ? Columns ? 

**TODO 2**: Insert the bc.csv in the sqlite format.

**TODO 3**: In the same db create a new table called tomatch with two variables id_ and rdm_float. 

**TODO 4**: In the table tomatch insert observations where the id_ starts from 50k, ends at 10000000 and is only even numbers. rdm_float is a float random for each observation.

**TODO 5**: Do an Inner join between the two tables and compute the different aggregate functions on a column of your choice.

**TODO 6**: How many observations have a radius_mean greater than 15 ? From them how many have a texture_mean greater than 20 ?

**TODO 7**: For each category in diagnosis what is the mean of all the variables ? Compute the difference between the mean of both groups


**TODO 8**: Change the name of the column "diagnosis" to "label"

**TODO 9**: Change the type of the column "area_mean" to int

**TODO 10**: Add a column named "day" of type DATE.

**TODO 11**: create a new table called tomatch2 exactly the same way as tomatch except you increment id_ by 10.

**TODO 12**: Do an inner join of bc, tomatch and tomatch2 where the radius_mean is greater than 15, and the rdm_float is greater than 0.50 in tomatch AND tomatch2.